.footer {
  background-color: #242220;
  color: $primary-white;
  font-size: 14px;
  line-height: 1.14;
  // TODO footer container
  &__container {
    @extend %container;

    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__call-action {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__social-lists {
    display: flex;
    justify-content: center;
  }

  &__social-item:not(:last-child) {
    margin-right: 10px;
  }

  %social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    height: 44px;
    width: 44px;
    border-radius: 50%;
  }

  &__social--link {
    @extend %social__link;
    fill: $primary-white;
    transform: rotateZ(0deg);
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform $timing-animation, background-color $timing-animation;
    &:hover,
    &:focus {
      transform: rotateZ(360deg);
      background-color: $accent-color;
      outline: transparent;
    }
  }

  &social__icon {
    width: 30px;
    height: 30px;
  }

}
