.footer {
  background-color: #242220;
  color: $primary-white;
  font-size: 14px;
  line-height: 1.14;
  // TODO footer container
  &__container {
    @extend %container;
    padding: 60px 15px;
    text-align: center;
    @media screen and (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      flex-wrap: wrap;
      justify-content: space-between;
      // justify-content: center;
      // align-items: flex-start;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      text-align: start;
    }
  }
  & b {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
