.header {
  &__container {
    @extend %container;
    padding: 0 15px;
    display: flex;
    align-items: center;
    min-height: 60px;
    max-height: 80px;
    @media screen and (max-width: $mobile-sm) {
      justify-content: space-between;
    }
    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
  }

}
