.header {
  background-color: white;
  padding: 10px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;


  &__logo img {
    width: 60px;
    height: 60px;

    @media screen and (max-width: $mobile-sm) {
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: $mobile) {
      width: 40px;
      height: 40px;
    }
    @media screen and (max-width: $tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      align-items: center;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-list li:nth-last-child(2) {
      margin-left: 2rem; // Відступ зліва для передостаннього елемента (іконка профілю)
    }

    &-list li:last-child a {
      color: $accent-color; // Зміна кольору останнього елемента (Увійти)
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      font-weight: 700;
      font-size: 1.8rem;
    }

    &-link:hover {
      color: $accent-color-blue;
    }

    &-link-icon {
      width: 40px;
      height: 40px;

      fill: currentColor;
      color: $text-color;
  
      transition: fill $timing-animation;
    }

    &-link:hover &-link-icon,
    &-list:focus ~ &-link-icon,
    &-list:hover ~ &-link-icon {
      color: $accent-color-blue;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 82px;
      left: 0;
      width: 100vw;

      background-color: #fff;

      padding-bottom: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-200%);
      transition: transform $timing-animation;
      z-index: 100;

      &-list {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        margin-top: 3rem;
      }

      &-link {
        font-weight: bold;
        @media screen and (min-width: $mobile-sm) {
          font-size: 1.8rem;
        }
        @media screen and (min-width: $mobile) {
          font-size: 2.4rem;
        }
      }

      &.active {
        transform: translateY(0);
      } 
    }
  }


}


.burger__button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;

  // &__line {
  //   width: 24px;
  //   height: 2px;
  //   background-color: #333;
  //   border-radius: 2px;
  // }

  &-icon-menu {
    width: 40px;
    height: 40px;
  
    fill: currentColor;
    color: $text-color;

    transition: fill $timing-animation;
  }

  &:focus &-icon-menu {
    color: $accent-color-blue;
  }


  @media (min-width: $tablet) {
    display: none;
  }
}


.login-modal {
  display: none; /* Приховано за замовчуванням */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &__content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 400px;
  }

  &__close {
    position: absolute;
    top: 10px; right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
