.profile {
  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center; //По вертикалі (поперечна вісь)
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 100%;
  overflow-x: hidden;

  outline: 1px solid $accent-color;

  &__icon {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;

    text-align: center;
    fill: currentColor;
    color: $accent-color-blue;

    @media screen and (min-width: $mobile) {
      width: 60px;
      height: 60px;
    }
    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
    @media (min-width: $desktop) {
      width: 100px;
      height: 100px;
    }
    @media (min-width: $desktop-lg) {
      width: 120px;
      height: 120px;
    }
  }

  &__title {
    display: flex;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;  //По горизонталі
  }

  &__list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // text-align: center;
    font-size: 1.6rem;
    gap: 0.5rem;
    margin-top: 0px;
    margin-bottom: 40px;

    @media screen and (min-width: $mobile) {
      font-size: 1.8rem;
      gap: 1.2rem;
    }
    @media (min-width: $tablet) {
      font-size: 2.2rem;
      gap: 1.6rem;
    }
    @media (min-width: $desktop) {
      font-size: 2.4rem;
      gap: 1.8rem;
    }
    @media (min-width: $desktop-lg) {
      font-size: 2.6rem;
      gap: 2.0rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    // justify-content: center;


    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__label {
    font-weight: bold;
    color: #555;

    @media screen and (min-width: $mobile-sm) {
      width: 250px;
    }
    @media screen and (min-width: $mobile) {
      min-width: 310px;
    }
    @media (min-width: $tablet) {
      min-width: 400px;
    }
    @media (min-width: $desktop) {
      min-width: 500px;
    }
    @media (min-width: $desktop-lg) {
      min-width: 650px;
    }
  }

  &__value {
    color: $text-color-secondary;
  }

  &__edit-btn {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 8px;
    // margin-top: 20px;
    background: $accent-color;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: transform $timing-animation;
    font-weight: 700;
    @media (min-width: $tablet) {
      padding: 10px 10px;
      font-size: 2.2rem;
    }
    @media (min-width: $desktop) {
      width: 80%;
      padding: 12px 12px;
      font-size: 2.6rem;
    }
    @media (min-width: $desktop-lg) {
      padding: 14px 14px;
      font-size: 3.0rem;
    }


    &:hover {
      background: $accent-color-blue;
    }
  }

  &__input {
    font-size: 1.8rem;
    // padding: 0.4rem;
    width: 100%;

    display: inline-block;
    padding: 10px 30px 10px 30px;

    background-color: $primary-white;
    color: $text-color-secondary;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border $timing-animation;

    &:focus {
      border: 1px solid $accent-color-blue;
      color: $text-color-secondary;
      outline-color: $accent-color-blue;
    }
  }
}
