.profile {
  // @extend %container;
  // max-width: 800px;
  // margin: 0 auto;
  // padding: 2rem;
  // font-family: sans-serif;
  // text-align: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__icon {
    width: 60px;
    height: 60px;

    text-align: center;
    fill: currentColor;
    color: $accent-color-blue;

    @media screen and (min-width: $mobile) {
      width: 80px;
      height: 80px;
    }
    @media (min-width: $tablet) {
      width: 100px;
      height: 100px;
    }
    @media (min-width: $desktop) {
      width: 120px;
      height: 120px;
    }
    @media (min-width: $desktop-lg) {
      width: 140px;
      height: 140px;
    }
  }




  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__list {
    // width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    @media screen and (min-width: $mobile) {
      font-size: 2.0rem;
    }
    @media (min-width: $tablet) {
      font-size: 2.2rem;
      gap: 1.6rem;
    }
    @media (min-width: $desktop) {
      font-size: 2.6rem;
      gap: 1.8rem;
    }
    @media (min-width: $desktop-lg) {
      font-size: 3.0rem;
      gap: 2.0rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__label {
    font-weight: bold;
    min-width: $mobile-sm;
    color: #555;

    @media screen and (min-width: $mobile) {
      min-width: 440px;
    }
    @media (max-width: $tablet) {
      width: 450px;
    }
    @media (min-width: $desktop) {
      min-width: 500px;
    }
    @media (min-width: $desktop-lg) {
      min-width: 550px;
    }
  }

  &__value {
    color: #111;
  }

  &__edit-btn {
    margin-top: 3rem;
    padding: 0.8rem 2rem;
    background-color: #005bbb;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #004199;
    }
  }
}
