// .footer-social__container {
//   @media screen and (min-width: $tablet) {
//     flex-basis: 100%;
//     margin-top: 5px;
//     margin-bottom: 0;
//     // padding-left: 80px;
//     // padding-right: 73px;
//   }
//   @media screen and (min-width: $desktop) {
//     display: flex;
//     flex-direction: column;
//     // margin: 12px 94px 0px 69px;
//   }
//   margin: 10px 0;
//   text-transform: uppercase;
// }

.social__lists {
  display: flex;
  justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
// TODO: стилі для лого і переходи
%social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer__social--link {
  @extend %social__link;
  fill: $primary-white;
  transform: rotateZ(0deg);
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform $timing-animation, background-color $timing-animation;
  &:hover,
  &:focus {
    transform: rotateZ(360deg);
    background-color: $accent-color;
    outline: transparent;
  }
}
.social__icon {
  width: 30px;
  height: 30px;
}

.social__link {
  @extend %social__link;
  fill: $primary-white;
  color: $primary-white;
  transform: rotateZ(0deg);
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform $timing-animation, background-color $timing-animation;
  &:hover,
  &:focus {
    transform: rotateZ(360deg);
    background-color: $accent-color;
    outline: transparent;
  }
}


.social__link--facebook {
  background-image: url('/img/footer/icon-facebook.svg');
}

.social__link--instagram {
  background-image: url('/img/footer/icon-instagram.svg');
}

.social__link--telegram {
  background-image: url('/img/footer/icon-telegram.svg');
}