table {
  border-collapse: collapse;
  // min-width: 600px;
  // max-width: 1000px;
}

tr {
  background: #fff;
  color: #808080;
}

tr:nth-child(2n + 1) {
  background: #f5f5f5;
}

thead tr:first-child {
  background: #e25644;
  color: #fff;
}

tfoot tr:first-child {
  background: #f5f5f5;
}

th {
  // text-align: left;
  text-align: center;
  padding: 18px;
}

td {
  // text-align: left;
  text-align: center;
  padding: 18px;
}

thead th:hover {
  color: #fff400;
  cursor: pointer;
}

thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

tfoot tr th:first-child {
  border-bottom-left-radius: 10px;
}

tfoot tr th:last-child {
  border-bottom-right-radius: 10px;
}

tbody tr:hover {
  background: #f5f5f5;
  color: #585858;
  cursor: pointer;
}

tr.active {
  background: #cbcbcb;
  color: #585858;

  &:hover {
    background: #cbcbcb;
    color: #585858;
  }
}

.new-athlete-form {
  background: #f5f5f5;
  align-self: flex-start;
  color: #808080;
  border-top: #e25644 solid 54px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
  margin-left: 24px;

  &:before {
    position: absolute;
    content: "Додати зв'язку";
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    top: -36px;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    input,
    select {
      width: 150px;
      box-sizing: border-box;
      border: 1px solid #808080;
      border-radius: 4px;
      color: #808080;
      padding: 4px;
      outline-color: #808080;
    }
  }

  button {
    margin-top: 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 0;
    background: #e25644;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: 0.25s ease color, 0.25s ease background, 0.25s ease border;
    font-weight: 700;

    &:hover {
      border: 2px solid #e25644;
      background: #fff;
      color: #e25644;
    }
  }
}