html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  margin: 0;
  background: $primary-white;
  color: $text-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
// TODO: style title (h)

p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: none;
}

// .wrapper {
//   min-width: 100%;
//   display: flex;
//   flex-direction: column;
// }