.registration-team {
  &__container {
    @extend %container;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $mobile) {
      min-width: $mobile;
      max-width: $mobile-max;
    }
    @media screen and (min-width: $tablet-min) {
      min-width: $tablet-min;
      max-width: $tablet-max;
    }
    @media screen and (min-width: $desktop) {
      min-width: $desktop;
      max-width: 1000px;
    }
  }
}
