%container {
  margin-left: auto;
  margin-right: auto;

  padding: 25px 15px;
  outline: 1px solid #4d4e4c;

  @media screen and (min-width: $mobile) {
    min-width: $mobile;
  }
  @media screen and (min-width: $tablet-min) {
    width: $tablet-min;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

%h {
  margin: 0;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $title-color;
}
