// ! палітра кольорів макету
$primary-white: #ffffff;
$title-color: #212121;
$text-color: #757575;
// ! accent
$accent-color: #ff8800;
// ! timer animation
$timing-animation: 600ms cubic-bezier(0.4, 0, 0.2, 1);
// ! fonts
$font-family: "Roboto", "Raleway", "Lato", "Open Sans", sans-serif;
// ! breakpoints
$mobile: 480px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
